@model ProductListViewModel

@{
    ViewData["Title"] = "Menu";
}

<div class="menu-page">
    <h1 class="menu-title">Menu</h1>
    <div class="menu-body">
        <div class="container">
            <div id="menu-categories">
                @await Component.InvokeAsync("CategoriesMenu")
            </div>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a class="btn-first btn-primary" asp-controller="CreateProducts" asp-action="CreateProduct">Додати</a>
            }

            <div id="menu-items">
                @{
                    foreach (var item in Model.Products)
                    {
                        <div class="menu-item">
                            <img class="item-image" src="~/img/pizza/@item.Img" alt="@item.Name" />
                            <div class="item-body">
                                <h2 class="item-name">@item.Name</h2>
                                <p class="item-description">@item.Ingredients</p>
                                <div class="item-order-info">
                                    <div class="item-price">@item.PriceLarge</div>
                                    <a href="#" class="btn-first btn-color-first">В кошик</a>
                                </div>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <div class="item-order-info">
                                        <a href="#" class="btn-first btn-warning">Редагувати</a>
                                        <a class="btn-first btn-danger" asp-controller="CreateProducts" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="btns-pagination" page-model="@Model.PaggingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn-link" page-class-normal="btn-page" page-class-selected="btn-page selected"
                 page-url-category="@Model.CurrentCategory"></div>
        </div>
    </div>
</div>